.aboutus-section{
    padding-bottom: 50px;

}
.aboutus-img{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../assets/girgitton-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 53vh;
    background-size: cover;
    margin-bottom: 50px;
}
.aboutus-info{
    display: flex;
    align-items: center;
}
.aboutus-text-wrapper{
    width: 400px;
}