.about{
    
        font-family: sans-serif;
        font-weight:800;
        font-size:40px;
        text-align: center;
        min-height:100vh;
        
}
.aboutus-section{
    padding-bottom: 50px;
}
.type-effect{
    text-align: center;
    font-size: 30px;
}
.aboutus-info{
    margin-top: 30px;
}
.aboutus-text-wrapper{
display: flex;
align-items:center;
justify-content: center;
margin-bottom: 50px; 
}
.flexer{
    margin-right: auto;
}
.about-us-title{
    width: 500px;
}
.about-img{
    border-radius: 10px;
    object-fit: cover;
}
.swiper-img{
    object-fit: cover;
    filter: blur(3px);
    transition: 0.3s ease;
}
.mapBox{
    position: relative;
    width: 400px;
    height: 400px;
    background:transparent;
}




.site-foooter{
    margin-top: 50px;
    width: 1220px;
    background:url(../../assets/footer.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.app_navbar-logo{
    margin-right: auto;
    display: flex;
    align-items:center;
    text-decoration: none;
    transition: 0.3s;
}
.app-navbar-logo-img{
    object-fit: contain;
    font-size: 100px;
    display: inline-block;
    margin-right: 0;
}
.app_navbar-logo h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 57.2px;
    color:var(--big-text-color);
    margin-left: 0;
}
.bottom-navbar{
    display: flex;
    padding-top: 100px;
}
.bottom-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bottom-list-item {
    margin-left: 200px;
    text-decoration: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
}
.navbar-link{
    margin-left: auto;
    text-decoration: none;
    color:var(--big-text-color);
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
}
.icons-social-medi{
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin-top: 40px;
}
.icomn{
    font-size: 30px;
    color:var(--big-text-color);
}
.navbar-link:hover{
opacity: 0.8;
}
.icomn:hover{
opacity: 0.8;
}

@media screen and (max-width:1110px) {
    .swiper-img{
    object-fit: cover;
        width: 1110px;
    }
    .aboutus-text-wrapper{
        flex-wrap: wrap;
        text-align: center;
    }
    .about-us-title{
        transform: translate(40%);
        margin-bottom: 30px;
    }
    .navbar-link{
        margin-bottom: 40px;
    }
    .bottom-list{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .icons-social-medi{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .icomn{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:605px) {
    .swiper-img{
        width: 605px;
        object-fit: cover;
    }
    .about-img{
        width: 307px;
    }
    .bottom-list-item{
        flex-direction: column;
    }
}